<%- include('../../base/includes/head', {pageTitle: 'All Products'}) %> 
</head>
<body>
    <%- include('../../base/includes/header') %> 
    <main>
        <h1>All Products</h1>
        <ul>
            <% for(const product of products) { %>
                <li>
                    <%- include('../../base/includes/product-item', {product: product}) %>
                </li>
            <% } %> 
        </ul>
    </main>
</body>
</html>