@use '../global/' as global;

.menu-section{
    background-color: global.$dark-light;

    .section-title{
        margin-bottom: 4rem;
    }

    .menu-tabs{
        padding: 0 1.5rem;
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }

    .new-product{
        text-align: center;

        .new{
            color: global.$white;
        }
    }

    .menu-tab-content{
        
        .menu-item{
            position: relative;
            width: 50%;
            padding: 2rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include global.tablet{
                width: 100%;
            }

            &:after{
                content: '';
                position: absolute;
                left: 1.5rem;
                right: 1.5rem;
                bottom: 0;
                border-bottom: .1rem dashed global.$white-light;
            }

            &-title{
                display: flex;
                align-items: center;
                // flex-direction: column;
                cursor: context-menu;
                max-width: calc(100% - 8rem);

                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                h3{
                    text-transform: uppercase;
                }
            }

            &-price{
                color: global.$main-color;
                font-weight: bold;
            }

            img{
                max-width: 10rem;
                margin-right: 1.5rem;

                @include global.small{
                    display: none;
                }
            }
        }
    }
}
