@use '../global' as global;

.new-product{
    text-align: center;

    .form{
        margin: 0 auto;
        font-family: inherit;

        p{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            flex-wrap: wrap;

            &:last-child{
                flex-direction: row;
                margin-top: 2rem;
            }

            textarea{
                width: 100%;
                resize: none;
                font-size: 1.7rem;
            }
        }

        .image-upload-preview{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 1rem;

            input{
                max-width: 20rem;
            }

            img{
                display: none;
                width: 10rem;
                height: 7rem;
                margin-bottom: 1rem;
            }
        }
    }
}