<section class="about-section sec-padding" id="about">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 data-title="Naša priča">O nama</h2>
            </div>
        </div>

        <div class="row">
            <div class="about-text">
                <h3>O restoranu Damiano's</h3>
                <p>O bogatstvu Damiano's tradicije svjedoče mnoga jela nastala u ličnoj kuhinji, 
                    koja se kroz atraktivne i moderne kulinarske vještine prave i serviraju sa posebnom pažnjom.</p>

                    <p>Možemo se pohvaliti raznovrsnim jelima koja želimo sačuvati kao dio naše Damiano's 
                    tradicije a koju spaja nit tradicionalne i moderne kuhinje. Nijedno naše jelo nije
                    nastalo slučajno, sva jela su spoj želje gostiju i našeg umijeća.</p>
                    
                    <p>Damiano's vam nudi i besplatnu dostavu hrane u Mrkonjić Grada a u našoj ponudi 
                    možete pronaći raznovrsna jela kao što su: sendviči, mesni specijaliteti 
                    (piletina, svinjetina, teletina, ćuretina), salate, posni meni i mnoga druga jela.</p>
            </div>
            <div class="about-img">
                <div class="img-box">
                    
                    <img src="/images/bg.jpg" alt="O nama">
                </div>
            </div>
        </div>
    </div>
</section>