<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-item">
                <h3>Naša lokacija</h3>
                <p>Podbrdo bb, Mrkonjić Grad</p>
            </div>
            <div class="footer-item">
                <h3>Radno vrijeme</h3>
                <p>07:00h - 23:00h</p>
            </div>
            <div class="footer-item">
                <h3>Kontaktirajte nas</h3>
                <p>+387 65 123 456</p>
                <p>daminaos@email.com</p>
                <div class="social-links">
                    <a href="/">
                        <img src="/images/facebook.png" alt="Facebook">
                    </a>
                    <a href="/">
                        <img src="/images/instagram.png" alt="Instagram">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="copyright">
                &copy; 2022. Designed by Pero Soldat
            </div>
        </div>
    </div>
</footer>