<header class="header">
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="/">Damiano's</a>
            </div>
            <button type="button" class="nav-toggler">
                
                <% if(!locals.isAdmin) { %> 
                    <a href="/cart">
                        <label class="badge"><%= locals.cart.totalQuantity %></label>
                        <img src="/images/cart.png" alt="cart" class="cart">
                    </a>
                <% } %> 
                    
                <span></span>
            </button>
            <nav class="nav">
                <%- include('nav-items') %> 
            </nav>
        </div>
    </div>    
</header>