<%- include('../../base/includes/head', {pageTitle: 'All Products'}) %> 
</head>
<body>
    <section class="hero-section" id="home">
        <div class="container">
            <div class="row">
                <div class="hero-text">
                    <h1>Damiano's</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, similique!</p>
                    <a href="#menu" class="btn btn-default">Jelovnik</a>
                </div>
            </div>
        </div>
    </section>

<%- include('../../base/includes/footer') %>