<section class="menu-section sec-padding" id="menu">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 data-title="Naručite odmah">Jelovnik</h2>
            </div>
        </div>

        <div class="row">
            <div class="menu-tabs" id="menu">
                <button type="button" class="menu-tab-item active hidden" data-target="Doručak" name="category" id="defaultCategory">Doručak</button>
                <button type="button" class="menu-tab-item" name="category" data-category="Doručak" id="defaultCategory">Doručak</button>
                
                <button type="button" class="menu-tab-item" name="category" data-category="Piletina">Predjela</button>
                <button type="button" class="menu-tab-item" name="category" data-category="Brusketi">Brusketi</button>
                <button type="button" class="menu-tab-item" name="category" data-category="Supe i čorbe">Supe i čorbe</button>
                <button type="button" class="menu-tab-item" name="category" data-category="Glavna jela">Glavna jela</button>
                <button type="button" class="menu-tab-item" name="category" data-category="Prilozi">Prilozi</button>
                <button type="button" class="menu-tab-item" name="category" data-category="Salate">Salate</button>
                <button type="button" class="menu-tab-item" name="category" data-category="Sosevi">Sosevi</button>
                <button type="button" class="menu-tab-item" name="category" data-category="Deserti">Deserti</button>
            </div>
        </div>
        
        <% if(locals.isAdmin) { %> 
            <div class="new-product">
                <a href="/admin/products/new" class="btn btn-default new">Dodaj novi proizvod</a>
            </div>
        <% } %> 

        <div class="row menu-tab-content">
            <% for(const product of products) { %> 
                <%- include('menu-item', {product: product}) %> 
            <% } %> 
        </div>
    </div>
</section>