<div class="menu-item">
    <div class="menu-item-title">
        <!-- <img src="/images/menu/1.jpg" alt="IMg"> -->
        <h3><%= product.title %></h3>
        <p><%= product.summary %></p>
    </div>       
    <div class="menu-item-price">
        <p><%= product.cijena %> KM</p>
    </div>
</div>