<ul class="nav-items">
    <li><a href="">Shop</a></li>
    <li><a href="">Orders</a></li>
    <li><a href="">Manage Products</a></li>
    <li><a href="">Manage Orders</a></li>
    <li><a href="">Login</a></li>
    <li><a href="">Signup</a></li>
    <li><a href="">Logout</a></li>
</ul>