<ul>
    <li class="nav-item"><a href="/">Početna</a></li>
    <li class="nav-item"><a href="/#about">O nama</a></li>

    <% if(!locals.isAdmin) { %> 
        <li class="nav-item"><a href="/products">Jelovnik</a></li>
    <% } %> 

    
    <% if(!locals.isAuth) { %> 
        <li class="nav-item"><a href="/login">Prijavi se</a></li>
        <li class="nav-item"><a href="/signup">Registracija</a></li>
    <% } %> 
        
    <% if(locals.isAuth && !locals.isAdmin) { %>
        <li class="nav-item"><a href="/orders">Narudžbine</a></li>
    <% } %>  
            
    <% if(locals.isAdmin) { %>
        <li class="nav-item"><a href="/admin/products">Proizvodi</a></li>
        <li class="nav-item"><a href="/admin/orders">Narudžbine</a></li>
    <% } %>  
                
    <li class="nav-item"><a href="/#footer">Kontaktirajte nas</a></li>

    <% if(locals.isAuth) { %>
        <li class="nav-item">
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <button class="btn logout">Odjavi se</button>
            </form>
        </li>
    <% } %>
</ul>