<article class="product-item">
    <div class="product-item-content">
        <h2><%= product.title %></h2>
        <p><%= product.product_id %></p>
        <p><%= product.summary %></p>
        <p><%= product.description %></p>
    </div>
</article>