<section class="team-section sec-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 data-title="Tim">Naši kuvari</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="team-item">
                <img src="/images/team/1.jpg" alt="Tim">
                <div class="team-item-info">
                    <h3>Jovana Jovic</h3>
                    <p>Pomoćni kuvar</p>
                </div>
            </div>

            <div class="team-item">
                <img src="/images/team/2.jpg" alt="Tim">
                <div class="team-item-info">
                    <h3>Marko Markovic</h3>
                    <p>Glavni kuvar</p>
                </div>
            </div>

            <div class="team-item">
                <img src="/images/team/3.jpg" alt="Tim">
                <div class="team-item-info">
                    <h3>Simona Simic</h3>
                    <p>Pomoćni kuvar</p>
                </div>
            </div>
        </div>
    </div>
</section>