<%- include('includes/head', {pageTitle: 'Greška'}) %>
</head>
<body>
<%- include('includes/header') %>
<section class="not-found sec-padding">
    <h1>Greška</h1>
    <p>Nemate pravo pristupa ovoj stranici. Samo administrator može da pristupi ovoj stranici!</p>
    <p><a href="/" class="btn btn-default">Vrati se nazad!</a></p>
</section>