@use '../global' as global;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    color: global.$white-light;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h1{
    font-weight: 700;
    color: global.$white;
}

h2{
    font-weight: 600;
    color: global.$white;
}