<%- include('../../base/includes/head', { pageTitle: 'Narudžbine' }) %>

<script src="/scripts/order-management.js" defer></script>
</head>
<body>
<%- include('../../base/includes/header') %>
<main>
    <%- include('../../base/includes/order-list') %>
</main>
</body>