$black: #111;

$gray-50: rgb(243, 236, 230);
$gray-100: rgb(207, 201, 195);
$gray-300: rgb(99, 92, 86);
$gray-400: rgb(70, 65, 60);
$gray-500: rgb(37, 34, 31);
$gray-600: rgb(32, 29, 26);
$gray-700: rgb(31, 26, 22);

$primary-50: rgb(253, 224, 200);
$primary-100: rgb(253, 214, 183);
$primary-200: rgb(200, 191, 143);
$primary-400: rgb(223, 159, 41);
$primary-500: rgb(212, 136, 14);
$primary-700: rgb(212, 120, 14);
$primary-200-contrast: rgb(100, 46, 2);
$primary-500-contrast: rgb(255, 255, 255);

$error-100: rgb(255, 192, 180);
$error-500: rgb(199, 51, 15);

$primary-500-bg: rgb(63, 60, 58);