@use 'colors' as colors;
@use 'fonts' as fonts;

$space-1: .25rem;
$space-2: .5rem;
$space-4: 1rem;
$space-6: 1.5rem;
$space-8: 2rem;

$border-radius-small: .4rem;
$border-radius-medium: .6rem;

$shadow-medium: 0 .2rem .8rem rgba(0, 0, 0, .2);

.row{
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.min-vh-100{
    min-height: 100vh;
}

.align-items-center{
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: colors.$main-color;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    transition: all .3s ease;
    font-size: 1.6rem;
    cursor: pointer;
    font-family: inherit;
    color: colors.$white;
    line-height: 1.5;
    user-select: none;

    &:hover{
        color: colors.$white;
        border: .1rem solid colors.$main-color;
        background-color: transparent;
    }
}

.btn-default{
    border: .1rem solid colors.$main-color;
    background-color: transparent;
    color: colors.$white;
    padding: 1rem;
    margin: 0 2rem;

    &:hover{
        background-color: colors.$main-color;
    }
}

.sec-padding{
    padding: 8rem 0;
}

.section-title{
    width: 100%;
    padding: 0 1.5rem;
    text-align: center;
    margin-bottom: 6rem;

    h2{
        font-size: 3.5rem;
        
        &:before{
            content: attr(data-title);
            display: block;
            font-size: 2.4rem;
            color: colors.$main-color;
            font-family: fonts.$cursive-font;
            font-weight: 400;
        }
    }
}

.alert{
    border-radius: .5rem;
    background-color: colors.$error-light;
    color: colors.$error-dark;
    padding: 1rem; 
    margin: 1rem;
    text-align: center;

    h2{
        font-size: 1.5rem;
        margin: .5rem 0;
        text-transform: uppercase;
        color: colors.$error-dark;
    }

    p{
        margin: .5rem 0;
    }
}

.menu-tab-item{
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    background-color: transparent;
    font-weight: 500;
    color: colors.$white;
    cursor: pointer;
    transition: color .3s ease;
    margin: 0 1rem 1rem;

    &.hidden{
        display: none;
    }

    &:hover{
        color: colors.$main-color;
    }

    &.active{
        color: colors.$main-color;
    }
}

.form{
    max-width: 50rem;
    background: rgba(0,0,0,.5);
    padding: 4rem;
    border-radius: 1rem;
    text-align: center;

    input{
        width: 100%;
        height: 3rem;
        margin: 1rem 0;
    }

    .btn{
        height: 5rem;
    }

    select{
        width: 100%;
        height: 3rem; 
        margin: 1rem 0;
        font-family: inherit;
    }
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: colors.$white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img{
        width: 35rem;
    }

    &.fade-out{
        top: 110%;
        opacity: 0;
    }
}