<%- include('../../base/includes/head', {pageTitle: 'All Products'}) %> 
</head>
<body>
    <%- include('../../base/includes/header') %> 
    <main>
        <h1>All Products</h1>
        <ul>
            
                <li>
                    
                </li>
        </ul>
    </main>
</body>
</html>