<%- include('../../base/includes/head', {pageTitle: 'Detalji'}) %>

</head>
<body>
    <%- include('../../base/includes/header') %> 
    <div class="container">
        <img src="" alt="">
        <div class="product-info">
            <h1></h1>
            <button class="btn btn-default">Dodaj u korpu</button>
        </div>
        <div class="product-description">
            <p></p>
        </div>
    </div>
