<%- include('../../base/includes/head', {pageTitle: 'Proizvodi'}) %> 

</head>
<body>
    <%- include('../../base/includes/header') %> 
    <section class="new-product sec-padding">
        <h1>Dodaj novi proizvod</h1>
        <%- include('includes/product-form', {submitPath: '/admin/products', product: {
            name: '',
            description: '',
            price: '',
            category: ''
        }}) %> 
    </section>