<%- include('../../base/includes/head', {pageTitle: 'Ažuriraj proizvod'}) %> 
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%- include('../../base/includes/header') %> 
    <section class="new-product sec-padding">
        <a href="/products" class="btn-default">Nazad</a>
        <h1>Ažuriraj proizvod</h1>
        <%- include('includes/product-form', {submitPath: '/admin/products/' + product.id, product: product, imageRequired: false}) %> 
    </section>