<%- include('../../base/includes/head', {pageTitle: 'Signup'}) %>
</head>
<body>
    <%- include('../../base/includes/header') %>
    <main>
        <h1>Create New Account</h1>

        <form action="/signup" method="POST">
            <input type="text" name="_csrf" value="<%= locals.csrfToken %>">
        </form>
    </main> 
</body> 